$darkred : #d10000;

body{
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  background: white;
  position: fixed;
  border-top: solid $darkred 15px;
  height: 100px;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.8);
}
header > .main > a > img {
  padding-top: 10px;
  height: 80px;
}
.main{
  padding: 5px;
  margin: 0 auto;
  width: 900px;
}
.main:nth-child(2){
  margin-top: 120px;
}

.main > #nav {
  width: max-content;
  transform: translate(0,70%);
  float: right;
  display: inline-block;
  width: max-content;
  height: max-content;
}
.main > #nav > a{
  font-family: Consolas, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 36px;
  /*height: 100px;*/
  padding:5px 18px;
  /*background: white;*/
  border-left: 2px $darkred solid;
  border-right: 2px $darkred solid;
  transition: 0.2s ease-in-out;

}
.main > #nav > a:hover{
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
  background: #f5f5f5;
}
.main > #nav > a:first-child{
  border-left: none;
}
.main > #nav > a:last-child {
  border-right: none;
}

#hamburger{
  display: none;
}
.main > label {
  display: none;
  font-size: 50px;
}
@media screen and (max-width: 900px) {
  #nav>a{
    font-size: 30px !important;
  }
  .main{
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
    .main > label{
    display: inline-block;
    float: right;
    transform: translate(-10px,40%)!important;

  }

  #nav{
    display: none;
  }
  #nav > a{
    display: none;
  }

  #hamburger:checked + label + #nav{
    overflow: none;
    display: block;
    width: 100%;
    background: white;
    transform: translate(0,0);
    border-bottom: $darkred solid 4px;
  }

  #hamburger:checked + label + #nav > a{
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.1);
    margin: 4px;
    padding: 0 3px x;
    border: none;
    border-top: $darkred dotted;
    box-shadow: -4px  0px 0px $darkred;
  }
}
@media screen and (max-width: 360px) {
  header>.main>a>img{
    width: 80%;
  }
  #hamopen{
    font-size: 40px;
    transform: translate(-10px,-5px);
  }
}