@import "header";
body {
  font-family: Consolas, sans-serif;
  //overflow: hidden;
}
@mixin device-md {
  @media (min-width: 600px) {
    @content
  }
}
body {
  margin: 0;
  display: grid;
}

a{
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 50px;
  line-height: 0;
  font-weight: 300;
  font-family: Consolas, sans-serif;
  margin-top: 2.5em;
}
.img {
  width: 100%;
  margin-bottom: 2em;
  img {
    margin: auto;
    width: 90%;
    @include device-md {
      width: 90%;
      max-width: 50%;
    }
    height: auto;
    display: block;
  }
}
.board {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40vh;

  @include device-md {
    grid-template-rows: 25vh;

  }
}
.item {
  grid-column: auto;
  grid-row: auto;
  transition: ease-in-out 1s;
  transition-property: background-color;
  width: 100%;
  height: 100%;
  background: rgb(71, 71, 71);
}
.stripe {
  width: 100%;
  height: 15px;
  background-color: #d10000;
  display: block;
}
.buttons {
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1em;
  @include device-md {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.button {
  margin: auto;
  grid-row: auto;
  grid-column: auto;
  text-transform: uppercase;
  display: block;
  padding: 10px 30px;
  width: 170px;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 25px;
  border: 3px solid black;
  color: #d10000;
  overflow: hidden;
  transition: border-color 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:focus {
  outline: none;
}
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform-origin: 0 100%;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
  span {
    color: white;
  }
}
.button:hover::before {
  opacity: 1;
  background-color: #d10000;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

//Tim's kleine dingetje voor 'about'
#team{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //background: lightcoral;
}
#team > div{
  //background: red;
  margin: 5px;
}

#team > div > img{
  float: left;
  border-right: dashed $darkred 2px;
  //display: block;
  width: 120px;
}
#team > div > div{
  width: 100% ;
  border-bottom: dotted 2px $darkred;
}